#ignore /Directories 
Data/
output*/
cache/
.vscode/
venv/
backup/

.venv/

#ignore /File types
*.csv
*.log.txt
*.log
*.out

*log.txt


__pycache__/
*.pyc

Data # simlink
output # simlink
backup
tune_log.txt
tune_log42.txt