#data
pandas
numpy
scipy
requests
joblib
tqdm
pyyaml

#coordinates
pyproj
geopandas
osmnx
shapely

#ml
scikit-learn
matplotlib
seaborn
pyarrow
cmaes


torch
torchvision
torchaudio
optuna
filterpy
transformers
accelerate